# Workbench application
APP_NAME=Toolkit
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost

DB_CONNECTION=testing

# Tavily API key (https://app.tavily.com)
TAVILY_API_KEY=

EXA_API_KEY=

# JigsawStack API key (https://jigsawstack.com)
JIGSAWSTACK_API_KEY=

# Perplexity API key (https://www.perplexity.ai/account/api)
PERPLEXITY_API_KEY=

OPENAI_API_KEY=
